extends ../layout-marketing

block content
    main.content.content-alt#main-content
        .container
            .row
                .col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
                    .card
                        .card-body
                            .page-header
                                h1 #{translate("log_in")}
                            button.btn-primary.btn.w-100(
                                type='submit',
                                data-ol-disabled-inflight
                                id='zju-sso-btn'
                                style="border-radius: 8px;background-color: #3C49DD;color:#fff;"
                            )
                                span(data-ol-inflight="idle") 浙江大学统一身份认证
                            script(type='text/javascript', nonce=scriptNonce).
                                document.getElementById('zju-sso-btn').addEventListener('click', function () {
                                    window.location.replace("https://zjuam.zju.edu.cn/cas/login?service=https://overleaf.zju.edu.cn/login");
                                });